.formulario {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: white;
    width: 620px;
    height: 367.2px;
    border-radius: calc(1px + 1.5%);
    display: flex;
    justify-content: center;
    align-items: center;
  
}

#form-title {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: left;
}

#form-container {
    width: 93%;
    height: 93%;
}

.form-input-text input {
    width: 100%;
    height: 45%;
    border-radius: calc(5px + 0.5%);
    outline: none;
    border: 1px solid #4F4F4F;
}



#form-container form {

    display: grid;
    grid-template-rows: 20% 30% 30% 20%;

}
/*
.form-input-text label {
    display: flex;
}


.form-input-text label div {
    justify-content: left;
}*/

#form-container button {
    height: 85%;
    outline: none;
    border: none;
}